01 Backend/Node_red/save_data_to_db.json
[{"id":"1cccda68.14c756","type":"cloudant","z":"66597308.1d143c","host":"https://c0ab0918-9cb3-4856-bfe7-4dbd6c6990e2-bluemix:32a73373d2c43f117430b2669d1e6fa21b296cccd37aec1f8c669fe8f184faee@c0ab0918-9cb3-4856-bfe7-4dbd6c6990e2-bluemix.cloudant.com","name":""},{"id":"37467c36.11cbf4","type":"mqtt-broker","z":"66597308.1d143c","broker":"staging.thethingsnetwork.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"f92b3752.753028","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014100/up","broker":"37467c36.11cbf4","x":240,"y":95,"wires":[["9ca1390b.55bf28","51b33e70.4162e"]]},{"id":"9ca1390b.55bf28","type":"debug","z":"66597308.1d143c","name":"00","active":true,"console":"false","complete":"payload","x":748,"y":96,"wires":[]},{"id":"51b33e70.4162e","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw00","service":"_ext_","payonly":false,"operation":"insert","x":568,"y":126,"wires":[]},{"id":"c1435ac.6126ca8","type":"http in","z":"66597308.1d143c","name":"","url":"/02014100","method":"get","swaggerDoc":"","x":138,"y":191,"wires":[["bfab6f5f.dd711"]]},{"id":"bfab6f5f.dd711","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw00","service":"_ext_","search":"_all_","design":"","index":"","x":300,"y":191,"wires":[["5a91a817.d98c48"]]},{"id":"5a91a817.d98c48","type":"http response","z":"66597308.1d143c","name":"","x":425,"y":191,"wires":[]},{"id":"304d7ca6.9c1464","type":"comment","z":"66597308.1d143c","name":"02014100","info":"02014100","x":95,"y":40,"wires":[]},{"id":"bbe315fc.feed68","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014101/up","broker":"37467c36.11cbf4","x":243,"y":317,"wires":[["d09d131d.f28d9","175c613c.5e1d1f"]]},{"id":"d09d131d.f28d9","type":"debug","z":"66597308.1d143c","name":"01","active":true,"console":"false","complete":"payload","x":751,"y":318,"wires":[]},{"id":"175c613c.5e1d1f","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw01","service":"_ext_","payonly":false,"operation":"insert","x":571,"y":348,"wires":[]},{"id":"b8ebd3c7.31598","type":"http in","z":"66597308.1d143c","name":"","url":"/02014101","method":"get","swaggerDoc":"","x":141,"y":413,"wires":[["48ae288.9f6c5d8"]]},{"id":"48ae288.9f6c5d8","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw01","service":"_ext_","search":"_all_","design":"","index":"","x":303,"y":413,"wires":[["67bc254e.20345c"]]},{"id":"67bc254e.20345c","type":"http response","z":"66597308.1d143c","name":"","x":428,"y":413,"wires":[]},{"id":"24654993.7f0ef6","type":"comment","z":"66597308.1d143c","name":"02014101","info":"02014101","x":98,"y":262,"wires":[]},{"id":"6494df62.dd3bd","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014102/up","broker":"37467c36.11cbf4","x":250,"y":532,"wires":[["867af4cf.946568","72ae8a1d.3e23e4"]]},{"id":"867af4cf.946568","type":"debug","z":"66597308.1d143c","name":"02","active":true,"console":"false","complete":"payload","x":758,"y":533,"wires":[]},{"id":"72ae8a1d.3e23e4","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw02","service":"_ext_","payonly":false,"operation":"insert","x":578,"y":563,"wires":[]},{"id":"6163413c.9a92b","type":"http in","z":"66597308.1d143c","name":"","url":"/02014102","method":"get","swaggerDoc":"","x":148,"y":628,"wires":[["1e4e827c.dd765e"]]},{"id":"1e4e827c.dd765e","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw02","service":"_ext_","search":"_all_","design":"","index":"","x":310,"y":628,"wires":[["5ec7b6bd.7386f8"]]},{"id":"5ec7b6bd.7386f8","type":"http response","z":"66597308.1d143c","name":"","x":435,"y":628,"wires":[]},{"id":"81164312.b166a","type":"comment","z":"66597308.1d143c","name":"02014102","info":"02014102","x":105,"y":477,"wires":[]},{"id":"bd5981e6.95741","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014103/up","broker":"37467c36.11cbf4","x":247,"y":753,"wires":[["b2f818bd.cfba18","a2639625.bf1368"]]},{"id":"b2f818bd.cfba18","type":"debug","z":"66597308.1d143c","name":"03","active":true,"console":"false","complete":"payload","x":755,"y":754,"wires":[]},{"id":"a2639625.bf1368","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw03","service":"_ext_","payonly":false,"operation":"insert","x":575,"y":784,"wires":[]},{"id":"25a59bed.bf8134","type":"http in","z":"66597308.1d143c","name":"","url":"/02014103","method":"get","swaggerDoc":"","x":145,"y":849,"wires":[["6f53ab53.cce494"]]},{"id":"6f53ab53.cce494","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw03","service":"_ext_","search":"_all_","design":"","index":"","x":307,"y":849,"wires":[["4d0f0f9e.48eb7"]]},{"id":"4d0f0f9e.48eb7","type":"http response","z":"66597308.1d143c","name":"","x":432,"y":849,"wires":[]},{"id":"934fe934.b71128","type":"comment","z":"66597308.1d143c","name":"02014103","info":"02014103","x":102,"y":698,"wires":[]},{"id":"91399bc1.bca0d8","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014104/up","broker":"37467c36.11cbf4","x":243,"y":966,"wires":[["9f55afbd.3fd59","69908422.c96ecc"]]},{"id":"9f55afbd.3fd59","type":"debug","z":"66597308.1d143c","name":"04","active":true,"console":"false","complete":"payload","x":751,"y":967,"wires":[]},{"id":"69908422.c96ecc","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw04","service":"_ext_","payonly":false,"operation":"insert","x":571,"y":997,"wires":[]},{"id":"a16c02fe.1cc71","type":"http in","z":"66597308.1d143c","name":"","url":"/02014104","method":"get","swaggerDoc":"","x":141,"y":1062,"wires":[["6791c72f.c56ee8"]]},{"id":"6791c72f.c56ee8","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw04","service":"_ext_","search":"_all_","design":"","index":"","x":303,"y":1062,"wires":[["423bfe39.f8cfe"]]},{"id":"423bfe39.f8cfe","type":"http response","z":"66597308.1d143c","name":"","x":428,"y":1062,"wires":[]},{"id":"5656d839.8bdf08","type":"comment","z":"66597308.1d143c","name":"02014104","info":"02014104","x":98,"y":911,"wires":[]},{"id":"313832c6.acc3fe","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014105/up","broker":"37467c36.11cbf4","x":245,"y":1184,"wires":[["b68e1972.c6c3d8","aab763dd.d0cab"]]},{"id":"b68e1972.c6c3d8","type":"debug","z":"66597308.1d143c","name":"05","active":true,"console":"false","complete":"payload","x":753,"y":1185,"wires":[]},{"id":"aab763dd.d0cab","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw05","service":"_ext_","payonly":false,"operation":"insert","x":573,"y":1215,"wires":[]},{"id":"b8399370.5d596","type":"http in","z":"66597308.1d143c","name":"","url":"/02014105","method":"get","swaggerDoc":"","x":143,"y":1280,"wires":[["fad29db8.5f00b"]]},{"id":"fad29db8.5f00b","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw05","service":"_ext_","search":"_all_","design":"","index":"","x":305,"y":1280,"wires":[["767ac71c.42e5d8"]]},{"id":"767ac71c.42e5d8","type":"http response","z":"66597308.1d143c","name":"","x":430,"y":1280,"wires":[]},{"id":"616f84c5.37436c","type":"comment","z":"66597308.1d143c","name":"02014105","info":"02014105","x":100,"y":1129,"wires":[]},{"id":"178fa5bf.39e21a","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014106/up","broker":"37467c36.11cbf4","x":239,"y":1413,"wires":[["15898761.36abe9","e1c0e2af.032b"]]},{"id":"15898761.36abe9","type":"debug","z":"66597308.1d143c","name":"","active":true,"console":"false","complete":"false","x":767,"y":1414,"wires":[]},{"id":"e1c0e2af.032b","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw06","service":"_ext_","payonly":false,"operation":"insert","x":567,"y":1444,"wires":[]},{"id":"1cc609dc.c2d966","type":"http in","z":"66597308.1d143c","name":"","url":"/02014106","method":"get","swaggerDoc":"","x":137,"y":1509,"wires":[["caed4cab.75982"]]},{"id":"caed4cab.75982","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw06","service":"_ext_","search":"_all_","design":"","index":"","x":299,"y":1509,"wires":[["5b523a54.663df4"]]},{"id":"5b523a54.663df4","type":"http response","z":"66597308.1d143c","name":"","x":424,"y":1509,"wires":[]},{"id":"6207ad43.cdfc64","type":"comment","z":"66597308.1d143c","name":"02014106","info":"02014106","x":94,"y":1358,"wires":[]},{"id":"9bf00537.432068","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014107/up","broker":"37467c36.11cbf4","x":248,"y":1655,"wires":[["ded61294.f7606","69af70be.11cfa"]]},{"id":"ded61294.f7606","type":"debug","z":"66597308.1d143c","name":"","active":true,"console":"false","complete":"false","x":776,"y":1656,"wires":[]},{"id":"69af70be.11cfa","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw07","service":"_ext_","payonly":false,"operation":"insert","x":576,"y":1686,"wires":[]},{"id":"4f305338.6b46ac","type":"http in","z":"66597308.1d143c","name":"","url":"/02014107","method":"get","swaggerDoc":"","x":146,"y":1751,"wires":[["7b758ec.0b3f27"]]},{"id":"7b758ec.0b3f27","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw07","service":"_ext_","search":"_all_","design":"","index":"","x":308,"y":1751,"wires":[["1594968b.b2a1f9"]]},{"id":"1594968b.b2a1f9","type":"http response","z":"66597308.1d143c","name":"","x":433,"y":1751,"wires":[]},{"id":"81dbc4d7.4fdfb8","type":"comment","z":"66597308.1d143c","name":"02014107","info":"02014107","x":103,"y":1600,"wires":[]},{"id":"318add2c.fd7612","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014108/up","broker":"37467c36.11cbf4","x":245,"y":1868,"wires":[["1e4332b8.9dd22d","9167d213.35d18"]]},{"id":"1e4332b8.9dd22d","type":"debug","z":"66597308.1d143c","name":"","active":true,"console":"false","complete":"false","x":773,"y":1869,"wires":[]},{"id":"9167d213.35d18","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw08","service":"_ext_","payonly":false,"operation":"insert","x":573,"y":1899,"wires":[]},{"id":"557d9c71.3c6144","type":"http in","z":"66597308.1d143c","name":"","url":"/02014108","method":"get","swaggerDoc":"","x":143,"y":1964,"wires":[["cfb42c03.5efb9"]]},{"id":"cfb42c03.5efb9","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw08","service":"_ext_","search":"_all_","design":"","index":"","x":305,"y":1964,"wires":[["c2ecbe6a.564d5"]]},{"id":"c2ecbe6a.564d5","type":"http response","z":"66597308.1d143c","name":"","x":430,"y":1964,"wires":[]},{"id":"f35a9bb3.dca7c8","type":"comment","z":"66597308.1d143c","name":"02014108","info":"02014108","x":100,"y":1813,"wires":[]},{"id":"db228b3e.82cd58","type":"mqtt in","z":"66597308.1d143c","name":"","topic":"70B3D57ED00000D5/devices/0000000002014109/up","broker":"37467c36.11cbf4","x":248,"y":2089,"wires":[["c74dce62.7aee4","cab038f.e9841c8"]]},{"id":"c74dce62.7aee4","type":"debug","z":"66597308.1d143c","name":"09","active":true,"console":"false","complete":"payload","x":756,"y":2090,"wires":[]},{"id":"cab038f.e9841c8","type":"cloudant out","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw09","service":"_ext_","payonly":false,"operation":"insert","x":576,"y":2120,"wires":[]},{"id":"798414ce.85e48c","type":"http in","z":"66597308.1d143c","name":"","url":"/02014109","method":"get","swaggerDoc":"","x":146,"y":2185,"wires":[["7084dcea.649d14"]]},{"id":"7084dcea.649d14","type":"cloudant in","z":"66597308.1d143c","name":"","cloudant":"1cccda68.14c756","database":"raw09","service":"_ext_","search":"_all_","design":"","index":"","x":308,"y":2185,"wires":[["6ddb3b2a.2ebc14"]]},{"id":"6ddb3b2a.2ebc14","type":"http response","z":"66597308.1d143c","name":"","x":433,"y":2185,"wires":[]},{"id":"878644ae.631858","type":"comment","z":"66597308.1d143c","name":"02014109","info":"02014109","x":103,"y":2034,"wires":[]}]