01 Backend/Node_red/weather.json
[{"id":"38fcdef4.c454e2","type":"cloudant","z":"6a67d498.19ec4c","host":ADD-YOUR-HOST-HERE,"name":""},{"id":"476b681c.fcc1e8","type":"inject","z":"6a67d498.19ec4c","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"14400","crontab":"","once":true,"x":99,"y":93,"wires":[["8bc2ed1e.a0afb"]]},{"id":"8bc2ed1e.a0afb","type":"http request","z":"6a67d498.19ec4c","name":"Weather insight","method":"GET","ret":"txt","url":ADD-YOUR-URL-HERE,"x":256,"y":93,"wires":[["456c3899.4f5f58"]]},{"id":"456c3899.4f5f58","type":"json","z":"6a67d498.19ec4c","name":"","x":412,"y":93,"wires":[["2a6614bc.96cfdc","7950f21e.57218c"]]},{"id":"2a6614bc.96cfdc","type":"debug","z":"6a67d498.19ec4c","name":"Weather","active":true,"console":"false","complete":"payload","x":604,"y":93,"wires":[]},{"id":"7950f21e.57218c","type":"cloudant out","z":"6a67d498.19ec4c","name":"","cloudant":"38fcdef4.c454e2","database":"weather","service":"_ext_","payonly":false,"operation":"insert","x":606,"y":153,"wires":[]},{"id":"b087ee1c.a2a74","type":"http in","z":"6a67d498.19ec4c","name":"","url":"/weather","method":"get","swaggerDoc":"","x":106,"y":232,"wires":[["dd976597.594f08"]]},{"id":"dd976597.594f08","type":"cloudant in","z":"6a67d498.19ec4c","name":"","cloudant":"38fcdef4.c454e2","database":"weather","service":"_ext_","search":"_all_","design":"","index":"","x":285,"y":232,"wires":[["2788f939.0a6ec6"]]},{"id":"2788f939.0a6ec6","type":"http response","z":"6a67d498.19ec4c","name":"","x":423,"y":232,"wires":[]}]